<h2>	<font face="Tahoma" style="font-size: 32px">Contact Us</font>		</h2>

  <p>
	Please fill out the following form if you have feedback, questions, or would like to advertise on our site.<br>
	<br>

<% form_tag :action => 'submit_feedback' do %>
<%= error_messages_for 'user' %>

  <div title="Contact Us" id="entryform"> 

  <div  class="form">
  <%= text_area 'feedback', 'text', 'cols' => 50, 'rows' => 6 %><br/>
  <br>
  <label for="feedback_type">Type</label><br/>
  <%= options = [['Select a type', ''], ['Report Bug', 'bug'], ['Submit Article', 'article'], ['Feedback', 'feedback'], ['Questions', 'questions'], ['Advertise', 'advertise'], ['Other', 'other']]
      select 'feedback', 'type', options %><br/>
      <br>    
  <label for="feedback_name">Your Name (Optional)</label><br/>
  <%= text_field 'feedback', 'submitter'  %><br/></br><br>
  
  <%= submit_tag "Submit Feedback" %>
  </div>
</div>
<% end %>
  <br><br>  
  <br><br>  

  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
